name: Build MIPS fbDOOM
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install MIPS Toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-mipsel-linux-gnu make

      - name: Clone fbDOOM Source
        run: |
          git clone https://github.com/maximevince/fbDOOM.git
          
      - name: Compile for MIPS
        run: |
          cd fbDOOM
          # We pass CC and LDFLAGS to force a static MIPS build
          # -static ensures it doesn't need external .so files
          make CC=mipsel-linux-gnu-gcc LDFLAGS="-static"
          
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: fbdoom-mips
          path: fbDOOM/fbdoom
